[program:{{ project_name }}_django_q]
directory={{ django_dir }}
command={{ virtualenv_path }}/bin/python {{ django_dir }}/manage.py qcluster
user={{ django_q_user }}
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile={{ django_q_log_file }}
stderr_logfile={{ django_q_log_file }}
startsecs=10
stopwaitsecs=600
environment=DJANGO_SETTINGS_MODULE={{ django_project }}.settings.{{ deploy_environment }}
